@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding-bottom: 50px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    line-height: 0px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.photographer_section h3 {
    font-size: 14px;
    color: #901C1C;
    font-weight: 300;
    line-height: 0px;
}

.tag {
    font-size: 12px;
    font-weight: 400;
    line-height: 0px;
}

.prix {
    font-size: 12px;
    line-height: 0px;
    color: gray;
}

article img:hover {
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.5);
    transform: scale(1.1);
}